/* The outer container */

#print{
  display:none;
}

@media print{
  #editorcontainerbox, #editorcontainer{
    display:none;
    top:0 !important;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    z-index:901;
  }

  #chaticon, #users, #chatbox{
    display:none !important;
  }
  .popup, .toolbar{
    display:none !important;
  }
  #header, #footer{
    z-index:902;
  }
  .page_view{
    padding:0px !important;
  }
  #print{
    display:block;
    z-index:9999;
  }
  /* Required for Chromium Bug with Page View 
  See http://stackoverflow.com/questions/1630819/google-chrome-printing-page-breaks
  */
  #print > div{
    position:relative;
  }
}

/* Button formatting */
.ep_print{
font-family:font-awesome;
}
.ep_print > .buttonicon {
  top:2px!important;
}
.ep_print > .buttonicon:before{
  content:"\e801";
}
