<li id="printButton" class="acl-write">
  <a class="grouped-left ep_print" title="Print" onClick='document.getElementsByName("ace_inner")[0].contentWindow.print();''>
    <span class="buttonicon"></span>
  </a>
</li>
<li class="separator acl-write"></li>
