<li id="printButton" class="acl-write">
  <a class="grouped-left ep_print" title="Print" onClick="printPadNow();">
    <span class="buttonicon"></span>
  </a>
</li>
<li class="separator acl-write"></li>

<script>
// Print support for Etherpad
function printPadNow(){
  // In chrome you have to fire the window.location.reload event to fire a print event.. More evidence Google = Microsoft
  // http://stackoverflow.com/questions/18622626/chrome-window-print-print-dialogue-opens-only-after-page-reload-javascript
  if(navigator.userAgent.toLowerCase().indexOf('chrome') > -1){
    window.print();
    // window.location.reload(); // Chrome is really broken here..
  }else{
    window.frames[1].focus(); window.frames[1].print(); return false;
  }
}
</script>
